@font-face {
    font-family: 'Fjalla One';
    src: url('assets/fonts/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-VariableFont_wght.ttf') format('truetype');
}

body{
    background-color: rgb(255, 244, 233);
    margin-left: 40px;
    margin-right: 40px;
}

h1{
    color: #27180A;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

h2{
    color: #27180A;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

h3{
    color: #27180A;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

p{
    color: #27180A;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
}

ul{ 

    color: #27180A;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
    font-size: 16px;
    background-color: rgb(210, 186, 154);
    border: 2px solid #27180A;
    border-radius: 20px;
    padding: 30px ;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 0;
    width: 100%;
}

th, td{
    border: 1px solid #27180A;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
    width: 50%
}

th{
    background-color: #2453b1;
    color: rgb(255, 244, 233);
    font-size: 20px;
}

td{
    text-align: left;
        font-size: 16px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #2453b1;
    padding: 20px;
    justify-content: center;
    gap: 30px;
    margin: 0;
    border-radius: 20px;
}

.nav-links li a.current {
    background-color: #122b67;
    border-radius: 15px;
    padding: 10px 20px;
}

.nav-links li a {
    color: rgb(255, 244, 233);
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
}

.nav-links li a:hover {
    background-color: #1a3d8f;
    border-radius: 15px;
}

.nav-links li a:active {
    background-color: #122b67;
    border-radius: 15px;
}

